@use 'config' as c;

footer {
  color: #fff;
  background-color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;

  p {
    line-height: 2;
  }

  a {
    color: c.$secondary-color;
    border-radius: 5px;
    transition: color 300ms;
    
    &:hover {
      color: c.$primary-color;
    }
  }

  i {
    margin: 0 1rem;
    color: #fff;
    font-size: 2.5rem;
    transition: transform 200ms;
    position: relative;
    top: 5px;

    &:hover {
      transform: scale(1.2) rotateZ(-360deg);
    }
  }
}
