@use 'config' as c;

.room {
  padding: 0;
  overflow: hidden;
  max-height: 75vh;
  display: grid;
  grid-template-areas:
  "title title title"
  "user-list msg-box msg-box"
  "user-list msg-form msg-form";
  grid-template-rows: 1fr 3fr 60px;
}

.room h2 {
  margin: 0;
  padding: 1rem 0;
  color: #fff;
  background-color: #333;
  grid-area: title;
}

.user-list {
  grid-area: user-list;
  border-right: 5px solid #333;
  margin: 0;
  padding: 0;
}

.user-list p {
  padding: 0.5rem;
  margin: 0.5rem;
}

.user-list ul {
  /* list-style: "\1F449"; */
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0.5rem;
}

.user-list ul li {
  margin: 0;
  padding: 0.5em;
  width: 100%;
  flex: 1;
  background-color: aliceblue;
}

.user-list ul li:nth-child(odd) {
  background-color: #fff;
}

.message-box {
  grid-area: msg-box;
  background-color: #fff;
  overflow: auto;
}

.message-box ul {
  list-style: none;
}

.message {
  padding: 0.5em;
  display: flex;
}

.message.self {
  justify-content: flex-end;
}

.message:nth-child(odd) {
  background-color: aliceblue;
}

.message-container {
  flex-basis: content;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  background-color: c.$secondary-color;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-container.self {
  background-color: c.$primary-color;
}

.message-container i {
  flex: 0 1 1rem;
  margin-right: 0.5rem;
}

.message-container img {
  flex: 0 1 auto;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.message-container span {
  flex: 1;
}

.message-form {
  grid-area: msg-form;
  border-top: 5px solid #333;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
}

.message-form input {
  flex: 1;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5rem 1rem;
}

.message-form button {
  flex: 0 1 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}